@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --dark-blue: #023A96;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

button {
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

button a {
    color: white;
}